nav {
    overflow: hidden;
    background-color:black;
    position: static;
    top: 75px;
    width: 100%;
}
nav a {
    float: left;
    display: block;
    color:rgb(155, 151, 151);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover {
    background: #ddd;
    color: black;
}

.media {
    height: 300 px;
    width: auto;
}